<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/success" method = "post" class = "wrap">
    <input type="text" name = 'username' placeholder="请输入已验证手机/邮箱" class = "phone">
    <input type="password" name = 'password' placeholder="请输入密码" class = "password">
    <div>
      <a href="http://localhost:3000/forget">忘记密码</a>
    </div>
    <input type="submit" value = "登录" class = "login">
  </form>
  </body>
</html>